header {
    color: #FFFFFF;
    text-align: center;
}

body {
    background-color: black;
    margin-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}